/* Page entière */

.creations-page {
    background-color: whitesmoke;
    padding-bottom: 50px;
}

/* Header */

.c-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

/* Réalisations */

.creations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card_body {
    background-color: white;
    border: 1px solid grey;
}

/* Configuration mobile */

@media screen and (min-width: 320px) and (max-width: 720px) {
    .creations {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Configuration tablette */

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .creations {
        flex-wrap: wrap;
    }

    #c_card {  
        height: 400px;
    }
}