.creations-container {
    padding-bottom: 40px;
    background-color: whitesmoke;
}

.c-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.creations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.card_body {
    background-color: white;
    border: 1px solid grey;
}

@media screen and (min-width: 320px) and (max-width: 720px) {
    .creations {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .creations {
        flex-wrap: wrap;
    }

    #c_card {  
        height: 400px;
    }
}