.home-section {
    background-image: url(/public/images/hero-bg.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
}

.about-container {
    justify-content: left;
    background-color: white;
    padding: 2em;
    margin: 30px 0;
}

.about-title {
    border-bottom: 1.5px solid #0d6efd;
    padding-bottom: 6px;
}

.about-p {
    padding-top: 1em;
}

.a-img {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 7px;
}

.progress-container {
    justify-content: right;
    background-color: white;
    padding: 2em;
    margin: 30px 0;
}

.progress {
    margin-top: 5px;
    margin-bottom: 15px;
}