/* Colonnes */

.columns {
    background-color: #EEE;
    padding: 2em;
    
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}
    
.column-one, .column-two, .column-three, .column-four {
    flex-basis: 25%;
}

/* Listes */

li {
    font-size: medium;
    list-style-type: '> ';
}

li::marker {
    color: #0d6efd;
    font-weight: bolder;
}

/* Icônes */

.icon-links {
    display: flex;
    gap: 15px;
    padding-left: 15px;
}

.icon-link {
    color:inherit;
}

.icon-link:hover {
    color:inherit;
}

.f-icon {
    width: 25px;
    height: 25px;
}

.page-link {
    text-decoration: none;
}

/* Copyright */

.copyright {
    background-color: #444;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
}

.copyright_txt {
    color: white; 
}

/* Configuration mobile */

@media screen and (min-width: 320px) and (max-width: 720px) {
    .columns {
        flex-direction: column;
        padding: 40px 10px;
    }
}

/* Configuration tablette */

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
    }
    
    .column-one, .column-two, .column-three, .column-four {
        flex-basis: 50%;
        width: 100%;
    }
}