/* Barre de navigation */

.menubar {
    background-color: #444;
    height: 60px;
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Logo textuel */

.navbar-brand {
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 70px;
    font-size: 22px;
}

/* Liens */

.menulinks {
    display: flex;
    margin-right: 80px;
    align-items: center;
    gap: 20px;
}

.menulink {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;  
    font-weight: 600;    
}

/* Menu burger */

.burgermenu {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    color: inherit;
    display: none;
}

.burgermenu {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    color: white;
    display: none;
}

.burgerbar,
.burgerbar::before,
.burgerbar::after {
    display: block;
    width: 24px;
    height: 2px;
    position: relative;
    background-color: white;
}

.burgerbar::before,
.burgerbar::after {
    content: "";
}

.burgerbar::before {
    transform: translateY(-9px);
}

.burgerbar::after {
    transform: translateY(7px);
}

/* Configurations mobile et tablette */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .burgermenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 999;
        border-color: grey;
        border-radius: 5px;
    }

    .burgermenu:hover {
        border-color: white;
    }

    .menulinks {
        display: none;
        position: absolute;
        top: 40px;
        background-color: #444;
        padding: 20px 0 20px 80px;
        width: 100%;
    }

    .menulinks.show {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}