@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,600;1,6..12,600&display=swap');

.app {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, strong {
    font-family: "Nunito sans", sans-serif;
    font-weight: 600;
}

p {
    font-family: "Nunito sans", sans-serif;
    font-weight: 400;
}

h5 {
    font-size: medium;
}